
.landing-button_create, .landing-button_read{
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    padding: 5px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px rgba(255,255,255 ,.5);
}

.landing-button_create{
    color: rgba(25,118,210 ,1);
    border: 2px solid rgba(25,118,210 ,1);
}

.landing-button_read{
    margin-left: 20px;
    color: rgba(123,31,162 ,1);
    border: 2px solid rgba(123,31,162 ,1);
}

.landing-button_create:hover{
    background-color: rgba(25,118,210 ,1);
    color: white;
}

.landing-button_read:hover{
    background-color: rgba(123,31,162 ,1);
    color: white;
}

.buttons-to-pages{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 768px) {
    .buttons-to-pages{
        flex-direction: column;
    }

    .landing-button_create{
        color: rgba(25,118,210 ,1);
        border: 2px solid rgba(25,118,210 ,1);
    }
    
    .landing-button_read{
        margin-top: 20px;
        margin-left: 0px;
        color: rgba(123,31,162 ,1);
        border: 2px solid rgba(123,31,162 ,1);
    }
}