.read_ActivityPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ActivityPage__content{
    margin: 30px 30px 30px 30px;
}

.editactivitybuttons{
    margin-top: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.activities-content__buttons{
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 768px){
    .activities-content__buttons{
        flex-direction: column;
    }
}