.LoginForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 0px 5px black;
    width: 100%;
}

.LoginForm label{
    font-size: 20px; 
    font-weight: bold;
    padding-bottom: 10px;
}

.LoginForm input{
    font-size: 20px; 
    font-weight: bold;
    padding-bottom: 10px;
    width: 100%;
}

.loginform__user-input{
    margin-bottom:25px;
    width: 200px;
}

.loginform__username, .loginform__password{
    display: flex;
    flex-direction: column;
}

.login__main{
    width: 60%;
}

.login__heading{
    font-family: Roboto;
    font-size: 3em;
    margin-bottom: 50px;
    color: white;
    text-shadow: 5px 5px 5px rgb(71, 71, 71);
}

.loginButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gotoRegister{
    text-align: center;
}

@media (max-width: 768px){
    .login__main{
        width: 95%;
    }

    .LoginForm{
        width: 95%;
    }

    .loginButtons{
        flex-direction: column;
    }

}