.activity-list-main__button{
    align-self: center;
}

.activity-list-main{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.activity-list-main ul{
    margin-top: 0;
    list-style: none;
    margin-bottom: 50px;
}

