.create-lesson{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-lesson>div{
    display: flexbox;
    flex-direction: column;
    margin-top: 10px;
}


input, select{
    border: 1px solid grey;
    width: 320;
    height: 30px;
    font-size: 20px;
}

input:required, select:required{
    border: 1px solid red;
    width: 320;
    height: 30px;
    font-size: 20px;
}

.input--class-goals{
    display: flex;
    flex-direction: column;
}

.create-lesson>textarea{
    width: 320px;
    height: 300px;
}

textarea:required{
    border: 1px solid red;
}

fieldset{
    display: flex;
    flex-direction: column;
}

.hidden{
    display:none;
}

.tooltips{
    font-size: 15px;
}

@media (max-width: 700px){
    .create-lesson{
        width: 320px;
        padding-left: 20px;
        font-size: 15px;   
        text-align: center;
    }

    .create-lesson input{
        width: 320px;
        padding-left: 20px;
        font-size: 20px;   
    }

    .create-lesson select{
        width: 300px;
        padding-left: 20px;
        font-size: 15px;   
    }

    button{
        width: 75%;
        border: 1px solid black;
    }

    .cancel--button{
        margin-bottom: 20px;
    }

}