.AddActivityForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 0px 5px black;
    width: 100%;
}

.AddActivityForm label{
    font-size: 20px; 
    font-weight: bold;
    padding-bottom: 10px;
}

.AddActivityForm input{
    font-size: 20px; 
    font-weight: bold;
    padding-bottom: 10px;
    width: 100%;
}

.add-activity_select {
	background-color: rgba(236,239,241 ,1);
	padding: 12px;
	width: 310px;
	border-bottom: 2px solid black;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	appearance: button;
	outline: none;
  }
  
  .add-activity_select::before {
	content: "\f13a";
	font-family: Roboto;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
  }
  
  .add-activity_select:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .add-activity_select option {
	padding: 30px;
  }
    
  .add-activity__title{
    text-align: center;
  }
.add-activity-input__title,
 .add-activity-input__duration,
 .add-activity-input__content,
 .add-activity-input__groups,
 .add-activity-input__category,
 .add-activity-input__duration{
     display: flex;
     flex-direction: column;
 }


.addactivitybuttons{
    margin-top: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #buttonError{
     text-align: center;
     color: rgba(183,28,28 ,1)
 }


.new-activity-contents{
    font-size: 15px;
}

#new-activity-name-input{
    width: 100%;
}