.ActivityListNav__category-link{
    font-size: 20px;
    color: black;
    list-style: none;
    line-height: 2;
    text-decoration: none;
}

.ActivityListNav__category-link.active{
    color: orange;
    font-size: 25px;
}

.ActivityListNav__category-nav{
    list-style: none;
    margin-left: -20px;
}