nav{
    position:fixed;
    align-items: center;
    justify-content: center;
    list-style:none;
    display: flex;
    top: 0;
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 0px 3px rgba(0,0,0,0.7);
    z-index: 3;
}

.navbar__navigation a{
    margin-left: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .navbar__navigation{
        display: none;
    }
    nav{
        left: 0;
    }

    .app__navbar{
        height: 24px;
        background-color: white;
    }
}
