nav{
    position:fixed;
    list-style:none;
    display: flex;
    top: 0;
}

.navbar__navigation a{
    margin-left: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .navbar__navigation{
        display: none;
    }
    nav{
        left: 0;
    }
}
