.saved-lessons_select {
	background-color: rgba(236,239,241 ,1);
	padding: 12px;
	width: 310px;
	border-bottom: 2px solid black;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	appearance: button;
	outline: none;
  }
  
  .saved-lessons_select::before {
	content: "\f13a";
	font-family: Roboto;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
  }
  
  .saved-lessons_select:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .saved-lessons_select option {
	padding: 30px;
  }
    
.savedlesson__delete-activity-button{
	box-shadow: 3px 3px 0px rgba(213,0,0 ,1);
	color: rgba(213,0,0 ,1);
    border: 2px solid rgba(213,0,0 ,1);
}

.savedlesson__delete-activity-button:hover{
    background-color: rgba(213,0,0 ,1);
    color: white;
	font-weight: bolder;
	box-shadow: 3px 3px 0px rgb(119, 2, 2);
}

.savedlesson__get-activity-button{
	box-shadow: 3px 3px 0px rgba(0,96,100 ,1);
	color: rgba(0,96,100 ,1);
    border: 2px solid rgba(0,96,100 ,1);
}

.savedlesson__get-activity-button:hover{
    background-color: rgba(0,96,100 ,1);
    color: white;
    font-weight: bolder;
}

.savedlesson__get-activity-button:disabled,
.savedlesson__delete-activity-button:disabled{
	border: 2px solid rgba(69,90,100 ,1);
	background-color: rgba(69,90,100 ,1);
	color: white;
	font-weight: bolder;
	box-shadow: 3px 3px 0px rgba(69,90,100 ,1);
}

.savedlesson__add-activity-button{
	box-shadow: 3px 3px 0px rgba(25,118,210 ,1);
	color: rgba(25,118,210 ,1);
    border: 2px solid rgba(25,118,210 ,1);
}

.savedlesson__add-activity-button:hover{
	background-color:rgba(25,118,210 ,1);
	color: white;
}

.savedlesson__go-back{
	box-shadow: 3px 3px 0px rgba(136,14,79 ,1);
	color: rgba(136,14,79 ,1);
	font-weight: bolder;
    border: 2px solid rgba(136,14,79 ,1);
}

.savedlesson__go-back:hover{
	background-color:rgba(136,14,79 ,1);
	color: white;
	font-weight: bolder;
	border: 2px solid rgb(85, 9, 49);
}

.savedlessons__buttons{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

.saved-lessons__heading{
	text-transform: capitalize;
    font-family: Roboto;
    font-size: 3em;
    margin-bottom: 50px;
    text-decoration-line: overline underline;
    text-underline-position: under;
    color: white;
    text-shadow: 5px 5px 5px rgb(71, 71, 71);
}

.saved-lessons_select-forms{
	background-color: white;
	padding: 25px;
	border-radius: 15px;
	box-shadow: 5px 5px 0px 5px black;
}

@media (max-width: 768px){
    .addactivitybuttons{
        flex-direction: column;
    }
}