.activity-card__title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.blank__card {
    height: 250px;
}

.activity__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 50vw;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 0 black;
    text-shadow: 2px 2px 2px black;
}

.activity-card__readmore {
    padding-top: 25px;
}

.activity-card__body {
    margin-bottom: 10px;
    font-size: 16px;
}

.user_capitalize {
    text-transform: capitalize;
}

.act1 {
    background-color: rgba(216,67,21 ,1);
    color: white;
}

.act2 {
    background-color: rgba(249,168,37 ,1);
    color: white;
}

.act3 {
    background-color: rgba(0,77,64 ,1);
    color: white;
}

.act4 {
    background-color: rgba(26,35,126 ,1);
    color: white;
}

.act5 {
    background-color: rgba(74,20,140 ,1);
    color: white;
}

.activity-card__readmore a {
    text-decoration: none;
}

.hidden {
    display: none;
}
.activity-list__button {
    text-align: center;
}
@media (max-width: 768px) {
    .activity-list {
        width: 100vw;
    }

    .act1,
    .act2,
    .act3,
    .act4,
    .act5 {
        width: 80vw;
    }
}
