.RegistrationForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 0px 5px black;
    width: 100%;
}

.RegistrationForm label{
    font-size: 20px; 
    font-weight: bold;
    padding-bottom: 10px;
}

.RegistrationForm input{
    font-size: 20px; 
    font-weight: bold;
    padding-bottom: 10px;
    width: 100%;
}

.registrationform__user-input{
    margin-bottom:25px;
    padding-bottom: 25px;
    width: 200px;
}

.registration_username, 
.registration_email,
.registration_password{
    display: flex;
    flex-direction: column;
}

.registration__button{
    color: rgba(191,54,12 ,1);
    border: 2px solid rgba(191,54,12 ,1);
    align-self: center;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    padding: 5px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px rgba(191,54,12 ,1);
}

.registration__button:hover{
    background-color: rgba(191,54,12 ,1);
    color: white;
    font-weight: bolder;
}

.registration__main{
    width: 100%;
}

.registration__heading{
    font-family: Roboto;
    font-size: 3em;
    margin-bottom: 50px;
    text-decoration-line: overline underline;
    text-underline-position: under;
    color: white;
    text-shadow: 5px 5px 5px rgb(71, 71, 71);
}