.RegistrationForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 0px 5px black;
    width: 100%;
}

.RegistrationForm label{
    font-size: 20px; 
    font-weight: bold;
    padding-bottom: 10px;
}

.RegistrationForm input{
    font-size: 20px; 
    font-weight: bold;
    padding-bottom: 10px;
    width: 100%;
}

.registrationform__user-input{
    margin-bottom:25px;
    padding-bottom: 25px;
    width: 200px;
}

.registration_username, 
.registration_email,
.registration_password{
    display: flex;
    flex-direction: column;
}

.registration__main{
    width: 100%;
}

.registration__heading{
    font-family: Roboto;
    font-size: 3em;
    margin-bottom: 50px;
    color: white;
    text-shadow: 5px 5px 5px rgb(71, 71, 71);
}
.registration_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .registration_buttons{
        flex-direction: column;
    }
}