body{
    background-color: rgba(84,110,122 ,1);
    background-clip: border-box;
}

.App{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    margin-top: 50px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold;
    padding: 5px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
	margin: 5px;
}

.app__main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.button__orange{
    box-shadow: 3px 3px 0px rgba(239,108,0 ,1);
    color: rgba(239,108,0 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(239,108,0 ,1);
  }
  
  .button__orange:hover{
      background-color: rgba(239,108,0 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(230,81,0 ,1);
  }
  
  .button__yellow{
    box-shadow: 3px 3px 0px rgba(249,168,37 ,1);
    color: rgba(249,168,37 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(249,168,37 ,1);
  }
  
  .button__yellow:hover{
      background-color: rgba(249,168,37 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(245,127,23 ,1);
  }
  
  .button__red{
    box-shadow: 3px 3px 0px rgba(198,40,40 ,1);
    color: rgba(198,40,40 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(198,40,40 ,1);
  }
  
  .button__red:hover{
      background-color: rgba(198,40,40 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(183,28,28 ,1);
  }
  
  .button__green{
    box-shadow: 3px 3px 0px rgba(46,125,50 ,1);
    color: rgba(46,125,50 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(46,125,50 ,1);
  }
  
  .button__green:hover{
      background-color: rgba(46,125,50 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(27,94,32 ,1);
  }
  
  .button__blue{
    box-shadow: 3px 3px 0px rgba(2,119,189 ,1);
    color: rgba(2,119,189 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(2,119,189 ,1);
  }
  
  .button__blue:hover{
      background-color: rgba(2,119,189 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(1,87,155 ,1);
  }

  .button__blue:disabled{
    box-shadow: 3px 3px 0px rgba(55,71,79 ,1);
    color: rgba(55,71,79 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(55,71,79 ,1);
  }
  
  .button__blue:hover:disabled{
      background-color: rgba(55,71,79 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(38,50,56 ,1);
  }
  
  .button__indigo{
    box-shadow: 3px 3px 0px rgba(40,53,147 ,1);
    color: rgba(40,53,147 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(40,53,147 ,1);
  }
  
  .button__indigo:hover{
      background-color: rgba(40,53,147 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(26,35,126 ,1);
  }
  
  .button__violet{
    box-shadow: 3px 3px 0px rgba(106,27,154 ,1);
    color: rgba(106,27,154 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(106,27,154 ,1);
  }
  
  .button__violet:hover{
      background-color: rgba(106,27,154 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(74,20,140 ,1);
  }
  
  .button__violet:disabled{
    box-shadow: 3px 3px 0px rgba(55,71,79 ,1);
    color: rgba(55,71,79 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(55,71,79 ,1);
  }
  
  .button__violet:hover:disabled{
      background-color: rgba(55,71,79 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(38,50,56 ,1);
  }

  .button__red:disabled{
    box-shadow: 3px 3px 0px rgba(55,71,79 ,1);
    color: rgba(55,71,79 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(55,71,79 ,1);
  }
  
  .button__red:hover:disabled{
      background-color: rgba(55,71,79 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(38,50,56 ,1);
  }

  .button__indigo:disabled{
    box-shadow: 3px 3px 0px rgba(55,71,79 ,1);
    color: rgba(55,71,79 ,1);
    font-weight: bolder;
    margin: 5px;
    border: 2px solid rgba(55,71,79 ,1);
  }
  
  .button__indigo:hover:disabled{
      background-color: rgba(55,71,79 ,1);
      color: white;
      font-weight: bolder;
      box-shadow: 3px 3px 0px rgba(38,50,56 ,1);
  }


@media (min-width: 768px) {
    .toggle-button{
        display: none;
    }
}