header{
    text-align: center;
    margin-top: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

blockquote{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.quote-author{
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}