body{
    background-color:#2C0155;
    background-blend-mode: multiply;
    background-clip: border-box;
    /*background-image: url(../src/images/background-planner.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.App{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
    margin-top: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (min-width: 768px) {
    .toggle-button{
        display: none;
    }
}