.edit_lesson-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    padding-top: 20px;
    color: white;
}

.edit_lesson-plan-title{
    color: white;
}

.edit-created-lesson{
    display: flex;
    flex-direction: column;
}

.edit_lesson-planbody_editcreate{
    background-image: url(../../images/planner_gb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 75vw;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    box-shadow: 5px 5px 0px 5px black;
}

.modify__lessonplan{
    display: flex;
    flex-direction: column;
}

#create-lesson-form-2{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 55vw;
    border-radius: 15px;
    box-shadow: 5px 5px 0px 5px black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0px 20px 30px;
    margin-bottom: 20px;
}

#create-lesson-form-2 input{
    width: 50vw;
    height: 30px;
}

#create-lesson-form-2 select{
    width: 50vw;
}

#create-lesson-form-2 label{
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}

#create-lesson-form-2 textarea{
    width: 50vw;
}

.edit-lesson__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.edit-creat_lesson-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-cancel{
    margin-left: 10px;
}


.modify__lessonplan input{
    width: 85%;
}
@media (max-width: 768px){
    .edit_lesson-plan{
        width: 100%;
    }
    .edit_lesson-planbody_editcreate{
        width: 100%;
    }
    #create-lesson-form-2{
      width: 95%  
    }
    #create-lesson-form-2 input{
        width: 85vw;
        height: 30px;
    }
    
    #create-lesson-form-2 select{
        width: 80vw;
    }
    
    #create-lesson-form-2 textarea{
        width: 85vw;
    }

    .edit-lesson__buttons{
        flex-direction: column;
    }
    
}